<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Framework">
  <test name="Test Basics 1">
      <classes>
      <class name="com.qa.tests.LoginPageTest"/>
      </classes>
  </test> <!-- Test -->    
   
  <test name="Test Basics 2">    
    <classes>
       <class name="com.qa.tests.HomePageTest"/>
    </classes>
     
  </test> <!-- Test -->
</suite> <!-- Suite -->